/*{
margin: 0;
padding:0;
background-color: rgb(12, 0, 10);
}*/

body,html {  max-width: 68rem;
              margin:auto; 
              background-color: rgb(10,0,12); }


    
header{ 
    background-color: rgb(10,0,12);
    height: 11rem;
    padding: 1rem;
    display: flex;
    position:top;
    
}

   #slogan{
        max-width: 100%;
        width: 17rem;
        margin: 0 1.20rem;
        
        
}

.container{
    padding-right: 2.06rem;
}


#NomeOf{
    width: 50rem;
    max-width: 100%;
    color:#f7eae7;
    text-align: center;
    font-size: 3rem; 
    font-family:"Lucida Handwriting", Arial, Helvetica, sans-serif;
    text-shadow:1px 1px 1px #111111 ;
    margin-top: 3rem;
    
}

    #Menu a{
    text-align: right;
    font-size: 1.1rem;
    text-decoration:none;
    color: rgba(250, 6, 6, 0.805);
    margin-right: 0.62rem;
    padding: 0.19rem;   
}
 
 ul{
    list-style-type:none;
    margin-right: 3rem;
    margin-top: 0.6rem;
    line-height: 1.5rem;
    
}

    #Menu a:hover{        
    background-color: rgba(250, 6, 6, 0.805);
    padding: 0.18rem;
    color: #111111;
    border-radius: 0.31rem;
    }

    .hr{
    max-width: 100%;
    color:  rgba(250, 6, 6, 0.805);
    margin: 0;
   
    }

    #Principal{
        max-width: 100%;   
        color: #120f0f;
        display:flex;
        padding-bottom: 0.5rem;
        

        }

#LadoE{
  max-width: 100%;
  width: 24rem;
  background-color: rgb(10,0,12);
  padding-top: 1.87rem;
  
}

#LadoD{
   max-width: 100%;
   width: 24rem;
   background-color: rgb(10,0,12);
   padding-top: 1.87rem;
   
}

#desc{
    max-width: 100%;
    font-size: 1.12rem;
    text-align:center;
    text-transform:capitalize;
    color:hwb(39 85% 3%);
}

#div3{
    max-width: 100%;
    width: 20rem;
    background-color: rgb(10,0,12);
    color:hwb(39 85% 3%);
    font-size: 1.25rem;
    line-height: 1.56rem;
    padding-top: 1.87rem;
        
}

  .imagens{
    max-width: 100%;
    width: 7rem;
    border-radius: 2.5rem;
    border-color: #fafbfd;
    padding: 1.87rem;*
        
}


h2{
max-width: 100%;
color: hwb(39 21% 5%);
text-shadow:1px 1px 1px #111111;
text-align: center;
}


#FP,#EM {
  max-width: 100%;
  padding: 0.63rem;
  color:  rgba(22, 5, 5, 0.805);
  font-style:oblique;
  font-size:  0.94rem;
}

#divf{
    max-width: 100%;
    width: auto;
    height: 24rem;
    display:flex;
    background-color: rgb(203, 169, 124);
}

#qr{
    max-width: 100%;
}

#meuslinks{
    max-width: 100%;
    width: 16.57rem;
    color: rgb(203, 169, 124);
    font-size: 1.56rem;
    background-color: rgb(10,0,12);
    text-align: center;
    margin: 0.44rem;
    }


#inusi{
    max-width: 100%;
    width: 49rem;
    height: 5rem;  
}

#contred{
    max-width: 100%;
    text-align:center;
    font-style: oblique;
    margin-top: 0.4rem;
    font-size: 1.56rem;
   
    
}

#Coment{
    max-width: 100%;
    text-align: center; 
    width: auto;
}


#Curi{
    max-width: 100%;
    width:auto;
    height: 16.88rem;
    text-align: center;
    font-size: 1.70rem;
    text-decoration: double;
    line-height: 1.87rem;
    background-color: hwb(39 38% 5%);
    
   

}

  #lnk1,#vt:link{
        color:rgb(245, 234, 213);
        text-decoration: none;

} 

#lnk:link {

        color: rgb(10,0,12);
        text-decoration: none;
        
}



#sec{
text-align: center;
max-width: 100%;
padding-top: 1rem;
padding-bottom: 1rem;
background-color: rgb(10,0,12);

}



footer{   
max-width: 100%;
background-color: rgb(93, 54, 2);
min-height: 1.88rem;
text-align: center;
font-size: 1.12rem;
color: aliceblue;
padding: 0.31rem;
font-family: Arial, Helvetica, sans-serif;

}